.home {
    width: 600px;
    height: 500px;
    background-color: rgb(92, 97, 96);
    padding-left: 180px;
    padding-top: 200px;
    margin-left: 500px;
    margin-top: 150px;
    /* padding-bottom: 250px; */
}

h1 {
    color: red;
    /* padding-top: 70px; */
}

a {
    text-decoration: none;
}

h1 {
    color: dimgrey;

}